body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        
        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        
        nav {
            background-color: #333;
            overflow: hidden;
        }
        
        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        nav a:hover {
            background-color: #ddd;
            color: black;
        }
        
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        
        main {
            background: white;
            padding: 20px;
            margin-top: 20px;
        }
        
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
        }
        
        li {
          font-size: 15px;
          font-weight: normal;
        }
        .ps{
          font-weight: normal;
          font-size: 17px;
        }
        #name {
          text-align: center;
        }
        .column {
          font-size: 13px;
          
        }
        .row {
          font-weight: normal;
        }
        #date {
          text-align: right;

        }
        #period {
          text-align: right;
          font-size: 15px;
          font-weight: normal;
        }

